.list-products {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.headline {
    padding: 10px;
    display: grip;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .list-products {
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
        font-size: 16px;
    }
}


@media (max-width: 800px) {
    .list-products {
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        font-size: 14px;
    }
}