@import url("https://fonts.googleapis.com/css2?family=Poppins");

.nav {
    position: fixed;
    justify-content: center;
    right: 0;
    bottom: 0;
    height: 10%;
    left: 0;
    z-index: 1030;

}

.button {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgb(94, 91, 91);
    float: left;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.button:hover {
    width: 160px;
}

.button:nth-child(1):hover .icon {
    background: #fff;
}

.button:nth-child(2):hover .icon {
    background: #fff;
}

.button:nth-child(3):hover .icon {
    background: #fff;
}

.button:nth-child(4):hover .icon {
    background: #fff;
}

.button:nth-child(1) span {
    color: rgb(59, 59, 59);
}

.button:nth-child(2) span {
    color: rgb(59, 59, 59);
}

.button:nth-child(3) span {
    color: rgb(59, 59, 59);
}

.button:nth-child(4) span {
    color: rgb(59, 59, 59);
}

.button span {
    font-size: 18px;
    font-weight: 800;
    line-height: 60px;
    margin-left: 5px;
}

.button,
.icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
}

.button,
.icon a {
    font-size: 25px;
    line-height: 60px;
}

.icon {
    float: inline-start;
}