.item-product {
padding: 1em;
margin: 1px;
border-radius: 30px;
text-align: center;
text-transform: uppercase;
border: 1px solid rgb(59, 59, 59);
}

.item-product img {
    width: 100%;
    border-radius: 30px;
}