@import url("https://fonts.googleapis.com/css2?family=Inter");

* {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header"
        "container container container container"
        "container container container container"
        "footer footer footer footer";
    grid-gap: 20px;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header"
            "container container"
            "container container"
            "footer footer";
    }
}

.encabezado {
    grid-area: header;
}

.contenido {
    grid-area: container;
}

.footer {
    grid-area: footer;
}